.section_about {
  padding: 8rem 0rem 4rem;
  background-color: var(--bg-color);
}

.about_container {
  max-width: var(--size-container-max);
  margin: 0 auto;
}

.about_heading {
  font-size: clamp(2.0rem, 5.5vw, 4.5rem);
      padding-left: 5rem;
    padding-right: 5rem;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: -0.04em;
  margin-bottom: 6rem;
  color: var(--text-color);
  max-width: 90%;
}

.about_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4rem;
  padding: 0 2.5rem;
}

.about_image-wrapper {
  flex-shrink: 0;
  width: clamp(250px, 20vw, 350px);
  border-radius: 1rem;
  overflow: hidden;
}

.about_image {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 4.5;
  object-fit: cover;
  display: block;
}

.about_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.about_text {
  font-size: clamp(1.1rem, 1.4vw, 1.5rem);
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 3.5rem;
  max-width: 32rem;
  color: var(--text-color);
}

.about_buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.icon-slide-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;

  border-radius: 0.75rem; /* changed */
  border: 1px solid rgba(0, 0, 0, 0.2);

  background-color: transparent;
  color: #ff3b30;

  cursor: pointer;
  overflow: hidden;

  transition: 
    background-color 0.3s ease,
    border-color 0.3s ease,
    transform 0.2s ease;
}

.icon-slide-btn:hover {
  background-color: rgba(0,0,0,0.05);
  border-color: rgba(0,0,0,0.4);
  transform: translateY(2px);
}

/* ICON WRAPPER */

.icon-wrapper {
  position: relative;
  height: 18px;
  width: 18px;
  overflow: hidden;
}

/* ICONS */

.icon {
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}

/* Default positions */

.icon-top {
  transform: translateY(0);
}

.icon-bottom {
  transform: translateY(-120%);
}

/* Hover animation */

.icon-slide-btn:hover .icon-top {
  transform: translateY(120%);
}

.icon-slide-btn:hover .icon-bottom {
  transform: translateY(0);
}

/* ─── Responsive ─── */
@media screen and (max-width: 991px) {
  .section_about {
    padding: 6rem 0 3rem;
  }
  
  .about_heading {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* margin-bottom: 4rem; */
    /* font-size: 3rem; */
  }
  
  .about_grid {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1.5rem;
    gap: 3rem;
  }
  
  .about_image-wrapper {
    width: 60vw;
    max-width: 400px;
  }
  
  .about_content {
    width: 100%;
  }
  
  .about_buttons-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  /* .about_heading {
    font-size: 2.25rem;
  } */
  
  .about_image-wrapper {
    width: 100%;
    max-width: none;
  }
}
